<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Menu</title>
</head>
<body>
    <h1>Menu</h1>
    <table border="1">
        <tr>
            <th>nomMenu</th>
            <th>prixMenu</th>
            <th>disponibilité</th>
            <th>Repas associés</th>
        </tr>
        {% for menu in menus %}
        <tr>
            <td>{{ menu.nomMenu }}</td>
            <td>{{ menu.prixMenu }}</td>
            <td>{{ menu.desponibilite ? 'Disponible' : 'Indisponible' }}</td>
            <td>
                {% if menu.repats|length > 0 %}
                    <ul>
                        {% for repat in menu.repats %}
                            <li>{{ repat.nomRepat }}</li>
                        {% endfor %}
                    </ul>
                {% else %}
                    Aucun repas associé
                {% endif %}
            </td>
            <td>
                <a href="{{ path('app_editMenu', { 'id': menu.id }) }}">Éditer</a> 
                <a href="{{ path('app_deleteMenu', { 'id': menu.id }) }}">Supprimer</a> 
            </td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
